.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: grey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.boxed {
  /* width: 300px; */
  padding: 50px;
}

.navbar {
  justify-content: center;
  align-items: center;
  background-color: #eceff1;
}

.navbar {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .3em;
  text-indent: .3em;
  color: #181818;
  border-bottom: 3px solid transparent;
}

/* .navbar {
  transform: translateY(-2px);
} */

.App {
  text-align: center;
  background-color: black
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

body {
  color: white;
  background-color: black
}