.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: grey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar {
  justify-content: center;
  align-items: center;
  background-color: grey;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  text-decoration: none !important;
  letter-spacing: .3em;
  text-indent: .3em;
}

.App {
  text-align: center;
  background-color: black
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

body {
  color: white;
  background-color: black
}